[Unit]
Description=PXE Server (DHCP+TFTP) - Data holder
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill pxe-hub
ExecStartPre=-/usr/bin/docker rm pxe-hub
ExecStartPre=/usr/bin/docker pull corfr/coreos-pxe-hub
ExecStart=/usr/bin/docker run --name pxe-hub --rm corfr/coreos-pxe-hub
ExecStop=/usr/bin/docker stop pxe-hub

[X-Fleet]
MachineMetadata=role=master

